#########################################################
#   ENV DOCUMENTATION                                   #
#   KEYS AND SENSITIVE INFORMATION                      #
#########################################################

######################
##  TWITCH DETAILS  ##
######################
TWITCH_USER="twitch"
TWITCH_PASS="oauth:xxxx"
TWITCH_CHANNELS="channel1","channel2"

######################
##   BOT DETAILS    ##
######################
COMMAND_PREFIX="!"
TWITCH_SOCKET_URL="wss://irc-ws.chat.twitch.tv:443"
ENABLE_BOT_JOIN_MESSAGE=false
BOT_JOIN_MESSAGE=""
BOT_REPLY_MESSAGE=""